<ion-view view-title="Media Analyzer">
  <ion-content>

    <div class="card">
	  <div class="item item-text-wrap">
	  	<h2>Sentence count for {{keyword}} in the Top 25 Mainstream U.S. Media Sources</h2>
	    <p ng-if="data.sentenceCount==null"><ion-spinner></ion-spinner></p>
    	<p ng-if="data.sentenceCount!=null">There are {{data.sentenceCount | number}} results.</p>
	  </div>
	</div>
    <a class="button button-block icon-right ion-chevron-right button-calm" href="https://twitter.com/hashtag/BlackLivesMatter" data-widget-id="671869653900247040">Twitter Timeline for #BlackLivesMatter</a>
  </ion-content>
</ion-view>
