<ion-view view-title="Twitter">
  <ion-content>
    <h1>Twitter Feed</h1>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/climatemarch" data-widget-id="670954542209613824">#climatemarch Tweets</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </ion-content>
</ion-view>
